*{
    box-sizing: border-box;
    padding:0px;
    margin: 0px;
    font-family: Roboto,sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 15px 150px 15px 150px;
    
}
#logo{
    color: #ffffff;
    font-size: 1.5rem;
}
.nav-link{
    color: #ffffffcc;
}
a{
    text-decoration: none;
}

ul{
    display: flex;
    gap: 15px;
    list-style-type: none;
}
.hero{
    display: flex;
    background-color: #1f2937;
    padding: 50px 150px 50px 150px;
    gap: 75px;
}
#hero-main-text{
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 10px;
}
#hero-secondary-text{
    color: #e5e7eb;
    font-size: 18px;
    padding-bottom: 10px;
}
#hero-button{
    padding: 5px 30px 5px 30px;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #3882f6;
}

.info-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 50px;
    padding: 50px 200px 50px 200px;
}
#info-title{
    font-size: 2.2rem;
    color: #1f2937;
    font-weight: 900;
}
.illustration-cards{
    display: flex;
    justify-content: space-around;

}
.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 100px 200px 100px 200px;
    background-color: #1f293717;
}
#inspiring-quote{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}
#author{
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    font-weight: bold;
    font-size: 1.5rem;
    color: #1f2937;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
}
.illustration{
    width: 175px;
    height: 175px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}
.subtext{
    text-align: center;
    color: #5c5252;
}

#frieren{
    width: 500px;
    height: auto;
}
